<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1>WpSellerWebV3</h1>
            <h3 class="mb-5">
                <em>Gestion de ventas</em>
            </h3>
            <a href="/signin" class="btn btn-primary">Iniciemos</a>
        </div>
    </header>
</main>